---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

// Create the static points pages
export async function getStaticPaths() {
	const points = await getCollection("blog", (post) => post.data.category === "points")
	return points.map((post) => ({
		params: { slug: post.slug.replace(/^points\//, '') },
		props: post,
	}))
}

// Get the requested point
type Props = CollectionEntry<"blog">
const point = Astro.props
const { title, summary } = point.data
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={point} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={point} />
    </div>
  </BottomLayout>
</PageLayout>